.skill-explanation {
    position: absolute;
    visibility: hidden;
    height: 0;
    width: 25em;
    left: 50%;
    top: 50%;
    padding: 0;
    margin: -12.5em;
    border-radius: 100%;
    text-align: center;
    padding-top: 2em;
}

.active-skill {
    visibility: visible;
    background-color: lightgray;
    height: 25em;
}

.skill-line {
    position: relative;
    display: block;
    width: 100%;
    height: 40em;
}

.skill-line img {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 6em;
    height: 6em;
    margin: -3em;
    opacity: 0.5;
}

.skill-line img:hover {
    opacity: 1;
}

.deg0 {
    transform: translate(16em, 0px);
}

.deg45 {
    transform: rotate(45deg) translate(16em) rotate(-45deg);
}

.deg90 {
    transform: rotate(90deg) translate(16em) rotate(-90deg);
}

.deg135 {
    transform: rotate(135deg) translate(16em) rotate(-135deg);
}

.deg180 {
    transform: translate(-16em, 0px);
}

.deg225 {
    transform: rotate(225deg) translate(16em) rotate(-225deg);
}

.deg270 {
    transform: rotate(270deg) translate(16em) rotate(-270deg);
}

.deg315 {
    transform: rotate(315deg) translate(16em) rotate(-315deg);
}