{% include scripts.html %}

<div class="custom-container">
<hr id="footer-hr">
<div class="footer-content row">
    <span class="col-sm-4">
    <span class="glyphicon glyphicon-envelope"></span>
	macpeyrot@hotmail.com
    </span>
    
    <span class="col-sm-4">
    <img src="{{site.baseurl}}/images/github-icon.svg">
    <a href="https://github.com/mpeyrotc">mpeyrotc</a>
    </span>

    <span class="col-sm-4">
    <img src="{{site.baseurl}}/images/linkedin-logo.svg">
    <a href="https://www.linkedin.com/in/macpeyrot/">macpeyrot</a>
    </span>
</div>
</div>
