---
layout: default
title: My skills
custom_css: skills.css
---

<div class="custom-container">
    <h2>{{page.title}}</h2>
    <hr>
    <div class="skill-category">
        <p>These are the programming languages, computer systems and tools
        I am more proficient in. Of course,
        I am proficient in common tools like Microsoft Office and have some
        experience in other items like Ruby, Rails and C#. </p>
        
        <p style="margin-bottom:2em;"><i>Hover over an icon to see a quick description.</i></p>
        
            <div class="skill-line">
            {% for language in site.data.languages %}
            <img src="{{site.baseurl}}/images/{{language.image}}"
            data-skillname="{{language.id}}" class="{{language.angle}}">
            <br>
            {% endfor %}
            <div class="skill-explanations">
            {% for language in site.data.languages %}
                <div class="skill-explanation" id="{{language.id}}">
                    {{language.description}}
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
</div>
